<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cute.Lashes.Eyebrows</title>
	<link rel="icon" type="text/css" href="assets/img/logo.icon">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani&family=Roboto&display=swap" rel="stylesheet">
	<!-- MIS ESTILOS CSS -->
	<link rel="stylesheet" type="text/css" href="assets/css/estilo.css">
	<!--BOOTSTRAP-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<meta name= "descripcion" content= "Ofrecemos productos y servicios de cuidado de cejas y pestañas">
</head>
	<body>

		<!--LOGO-->
		<header>
			<div class="header__logo--animacion">
				<h1 class="titulo"> 
					<img src= "assets/img/logo.png" width="50px" > <!--Imagen del logo-->  	
					Cute.Lashes.Eyebrows
				</h1>
			</div>
		</header>
		
		<!-- NAVBAR-->
		<nav id="menu">
			<ul>	
	    		<li><a href="../index.html"> Inicio <img src="assets/img/inicio.png" width="40px"></a></li>
    			<li><a href="views/servicios.html"> Servicios <img src="assets/img/servicios.png" width="40px"></a></li>
    			<li><a href="views/productos.html"> Productos <img src="assets/img/trabajos.png" width="40px"></a></li>
    			<li><a href="views/contacto.html"> Contacto <img src="assets/img/contacto.png" width="40px"></a></li>
			</ul>			
		</nav>

		<h2 class="titulo__formato">CONSEJOS</h2>

		<!--PIE DE PAGINA -->
		<footer id="footer"> 
			<ul>
				<li><a href="https://www.facebook.com/"><img src= "assets/img/facebook.png"></a></li>
				<li><a href="https://twitter.com/"><img src="assets/img/twitter.png"></a></li>
				<li><a href="https://instagram.com/"><img src="assets/img/instagram.png"></a></li>
			</ul>		
		</footer>
		<!--TERMINA PIE DE PAGINA -->
		
		<!--BOOTSTRAP-->
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>