<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="keywords" content="pestañas, cejas, perfilado, tintura, tinte de cejas, tintura de pestañas,
					permamente de pestañas, permanente de cejas, permanente, lifting, laminado, aguja, micropigmentacion,
					film, microblading">
		<meta name= "descripcion" content= "Ofrecemos productos y servicios de cuidado de cejas y pestañas">
		<title>Cute.Lashes.Eyebrows</title>
		<link rel="icon" type="text/css" href="../assets/img/logo.icon">
	
		<!-- MIS ESTILOS CSS -->
		<link rel="stylesheet" type="text/css" href="../assets/css/styles.css">
	
		<!--BOOTSTRAP-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	</head>
	<body>

		<!--LOGO-->
		<header>
			<div>
				<h1 class="titulo"><strong>
					<img src= "../assets/img/logo.png" width="50px" >   	
					Cute.Lashes.Eyebrows
				</strong></h1>
			</div>
		</header>

		<!-- NAVBAR-->
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
			<a class="navbar-brand"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" 
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
					aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto" >
					<li class="nav-item">
						<a class="nav-link" href="../index.html"> <span class="sr-only">(current)</span><p  class="navbar-titulo"><strong>Inicio </strong></p></a>
					</li>
					<li class="nav-item">
				  		<a class="nav-link" href="servicios.html"> <p class="navbar-titulo"><strong>Servicios</strong></p></a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  href="productos.html"> <p class="navbar-titulo"><strong>Productos </strong></p></a>
					</li>
					<li class="nav-item active">
						<a class="nav-link"  href="contacto.html"> <p class="navbar-titulo"><strong>Contacto </strong></p></a>
					</li>
				</ul>
			</div>
		</nav>

		<!--CONTENIDO-->
		<h2 class="titulo"><strong>CONTACTO</stron></h2>
		<div class="embed-responsive embed-responsive-21by9">
			<iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d27235.981154078512!2d-64.20698050000001!3d-31.427964099999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1608760639845!5m2!1ses-419!2sar" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
		</div>

		<!-- FORMULARIO-->
		<section>		
  			<div class="container">
				<form>
					<div class="form-group"> 
						<label for="nombre" class="formulario">Ingrese su nombre:</label>
						<input type="text" class="form-control" id="nombre" placeholder="Nombre">
					</div> 
					<div class="form-group"> 
						<label for="apellido" class="formulario">Ingrese su apellido:</label>
						<input type="password" class="form-control" id="apellido" placeholder="Apellido">
					</div> 
					<div class="form-group"> 
						<label for="E-mail" class="formulario">Ingrese E-mail:</label>
						<input type="text" class="form-control" id="E-mail" placeholder="E-mail">
					</div> 
					<div class="form-group"> 
						<label for="telefono" class="formulario">Ingrese su numero de telefono:</label>
						<input type="text" class="form-control" id="telefono" placeholder="Telefono">
					</div>
					
					<div class="form-group">
						<label for="mensaje" class="formulario">Ingrese su numero de telefono:</label>
						<textarea class="form-control" id="message" placeholder="Comentario" rows="7"></textarea>
					</div>
						<button  type="submit" class="btn btn-outline-dark btn-lg">Enviar</button>
				</form>
			</div> 
		</section>

		<!--FOOTER-->
		<footer class="footer"> 
			<ul>
				<li><a href="https://www.facebook.com/"><img src= "../assets/img/facebook.svg"></a></li>
				<li><a href="https://twitter.com/"><img src="../assets/img/twitter.svg"></a></li>
				<li><a href="https://instagram.com/"><img src="../assets/img/instagram.svg"></a></li>
			</ul>		
		</footer>

		<!--BOOTSTRAP-->
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>
