<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Cute.Lashes.Eyebrows</title>
	<link rel="icon" type="text/css" href="assets/img/logo.icon">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Anton&family=Rajdhani&family=Roboto&display=swap" rel="stylesheet">
	<!-- MIS ESTILOS CSS -->
	<link rel="stylesheet" type="text/css" href="../assets/css/estilo.css">
	<!--BOOTSTRAP-->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<meta name= "descripcion" content= "Ofrecemos productos y servicios de cuidado de cejas y pestañas">
</head>
	<body>
		
		<!--LOGO-->
		<header>
			<meta name="keywords" content="pestañas, cejas">
			<div>
				<h1 class="titulo"><strong>
					<img src= "../assets/img/logo.png" width="50px" >   	
					Cute.Lashes.Eyebrows
				</strong></h1>
			</div>
		</header>
		
		<!-- NAVBAR-->
		<nav class="navbar navbar-expand-lg navbar-light bg-white">
			<a class="navbar-brand"></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" 
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
					aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon"></span>
			</button>
		  
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto" >
					<li class="nav-item">
						<a class="nav-link" href="../index.html"> <span class="sr-only">(current)</span><p  class="navBar__titulo"><strong>Inicio </strong></p></a>
					</li>
					<li class="nav-item">
				  		<a class="nav-link" href="servicios.html"> <p class="navBar__titulo"><strong>Servicios</strong></p></a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  href="productos.html"> <p class="navBar__titulo"><strong>Productos </strong></p></a>
					</li>
					<li class="nav-item">
						<a class="nav-link"  href="contacto.html"> <p class="navBar__titulo"><strong>Contactos </strong></p></a>
					</li>
				</ul>
			</div>
		</nav>

		<!--CONTENIDO-->
		<section>
			<h2 class="titulo" ><strong> PRODUCTOS</strong></h2>
			<meta name="keywords" content="cejas, perfilado de cejas">
			
			<div class="producto-posicion">
				<div class="row blog">
					<div class="col-md-12">
						<div id="blogCarousel" class="carousel slide" data-ride="carousel">

							<ol class="carousel-indicators">
								<li data-target="#blogCarousel" data-slide-to="0" class="active"></li>
								<li data-target="#blogCarousel" data-slide-to="1"></li>
							</ol>

							<!-- CARRUSEL ITEMS -->
							<div class="carousel-inner">
								<div class="carousel-item active">
									<div class="row">
										<div class="col-md-3">
											<a>
												<img src="../assets/img/perfiladoDeCejas.jpg" alt="Image" style="max-width:100%;">
												<p class="producto-texto"> Perfiladores de cejas</p>
												<p class="producto-precio"><strong>150$</strong></p>
												<button type="button" class="btn  btn-outline-dark"> Comprar </button>
											</a>
										</div>
										<meta name="keywords" content="cejas, tintura, tinte de cejas, tintura de pestañas, pestañas">
										<div class="col-md-3">
											<a>
												<img src="../assets/img/kitTinteCejasYPestañas.jpg" alt="Image" style="max-width:100%;">
												<p class="producto-texto">Kit tintura de cejas y pestañas</p>
												<p class="producto-precio"><strong>900$</strong></p>
												<button type="button" class="btn  btn-outline-dark"> Comprar </button>
											</a>
										</div>
										<meta name="keywords" content="permamente de pestañas, permanente de cejas, permanente, cejas, pestañas">
										<div class="col-md-3">
											<a>
												<img src="../assets/img/kitPermanenteKitLash.jpg" alt="Image" style="max-width:100%;">
												<p class="producto-texto">Kit Permanente + Kit tinte</p>
												<p class="producto-precio"><strong>1,970$</strong></p>
												<button type="button" class="btn  btn-outline-dark"> Comprar </button>
											</a>
										</div>
										<meta name="keywords" content="lifting, cejas, pestañas">
										<div class="col-md-3">
											<a>
												<img src="../assets/img/kit3.jpg" alt="Image" style="max-width:100%;">
												<p class="producto-texto">Kit Lifting de pestañas</p>
												<p class="producto-precio"><strong>2,600$</strong></p>
												<button type="button" class="btn  btn-outline-dark"> Comprar </button>
											</a>
										</div>
									</div>
								</div>


								<div class="carousel-item">
									<div class="row">
										<meta name="keywords" content="laminado, cejas">
										<div class="col-md-3">
											<a>
												<img src="../assets/img/kitLaminadoCejas.jpg" alt="Image" style="max-width:100%;">
												<p class="producto-texto">Kit laminado de cejas Alisado</p>
												<p class="producto-precio"><strong> 1,360$</strong></p>
												<button type="button" class="btn  btn-outline-dark"> Comprar </button>
											</a>
										</div>
										<meta name="keywords" content="aguja, cejas, micropigmentacion">
										<div class="col-md-3">
											<a>
												<img src="../assets/img/agujaMicropigmentacion.jpg" alt="Image" style="max-width:100%;">
												<p class="producto-texto">Micropigmenta aguja</p>
												<p class="producto-precio"><strong>1,120$</strong></p>
												<button type="button" class="btn  btn-outline-dark"> Comprar </button>
											</a>
										</div>
										<meta name="keywords" content="film, cejas">
										<div class="col-md-3">
											<a>
												<img src="../assets/img/filmCejas.jpg" alt="Image" style="max-width:100%;">
												<p class="producto-texto">Rollo film mini microblading</p>
												<p class="producto-precio"><strong>200$</strong></p>
												<button type="button" class="btn  btn-outline-dark"> Comprar </button>
											</a>
										</div>
										<meta name="keywords" content="Aguja, micropigmentacion, cejas, microblading">
										<div class="col-md-3">
											<a>
												<img src="../assets/img/pinzasNavina.jpg" alt="Image" style="max-width:100%;">
												<p class="producto-texto">Pinzas Navina tornazoladas</p>
												<p class="producto-precio"><strong>650$</strong></p>
												<button type="button" class="btn  btn-outline-dark"> Comprar </button>
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section>
			<h2 class="titulo" ><strong> CUIDADO DE LOS PRODUCTOS...</strong></h2>
			<div class="container">
				<p class="texto"> Una de las cosas mas importantes a la hora de aplicación de un tratamiento para cejas o pestañas es la procedencia y el 
					cuidado de los materiales utilizados en el servicio, en nuestras instalaciones luego de cada servicio descartamos los productos descartables
					y esterilizamos aquellos que no son descartables como (pinzas, aplicadores, etc). Todos los productos utilizados en los tratamientos estan aprobados
				y recomendados por la ANMAT.</p>
			</div>
		</section>

		<!--PIE DE PAGINA -->
	
		<footer class="footer"> 
			<ul>
				<li><a href="https://www.facebook.com/"><img src= "../assets/img/facebook.png"></a></li>
				<li><a href="https://twitter.com/"><img src="../assets/img/twitter.png"></a></li>
				<li><a href="https://instagram.com/"><img src="../assets/img/instagram.png"></a></li>
			</ul>		
		</footer>
	
		<!--BOOTSTRAP-->
 		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
 		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
	</body>
</html>