//Tabletas y telefonos grandes (horizontal)
$breakpoint-xs: 576px;

//Tabletas pequeñas (vertical)
$breakpoint-sm: 768px;

//Tabletas y escritorio pequeños
$breakpoint-md: 992px;

//Tabletas y computadoras de escritorio 
$breakpoint-lg: 1200px;


header{
    
    div{
        display: flex;
        justify-content: center;
        
        h1.titulo{
            color: #B336A6;
            font-family: 'Rajdhani', sans-serif;
            margin: 30px;
        }
    }
}

.titulo__formato{
    
    display: flex;
    justify-content: center;
    color: #B336A6;
    font-family: 'Rajdhani', sans-serif;
    margin: 30px;
}

.imagen__posicion{
   
    float: left;
    padding: 20px;
    margin: 20px   
}

.texto__formato{
  
    color: #B336A6;
    font-family: 'Rajdhani', sans-serif;
    font-size: 27px;
    text-align: justify;
    margin: 10px;
}


.titulo__secundario--formato nav ul li a {
    border-color:  #B336A6;
    font-family: 'Rajdhani', sans-serif;
}

.formulario__formato--texto {
    color: #B336A6;
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
    margin: 10px;
  }

.section__grid--card{

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: (2, 1fr);
    color: #B336A6;
    align-content: center;
    font-family: 'Rajdhani', sans-serif;
    font-size: 30px;


    @media (max-width: $breakpoint-sm)  {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: (1, 1fr);

    }

    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    
    }

    @media (min-width: $breakpoint-md) and (max-width:$breakpoint-lg){
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    
    }
}

.grid__imagen--hover{
    &:hover{
        filter: opacity(.5);
    }
}

.navBar__titulo--hover{
    &:hover{
        color: #F8D0FC;
    }
}

.servicios__card--texto{
    color: #B336A6;
    font-family: 'Rajdhani', sans-serif;
    font-size: 15px;
    text-align: justify;
}

.servicios__card--subTexto{
    color: #B336A6;
    font-family: 'Rajdhani', sans-serif;
    font-size: 12px;
    text-align: justify;
}

.navBar__titulo--formato {
    color: #B336A6;
    font-family: 'Rajdhani', sans-serif;
    font-size: 23px; }

.formulario__posicion {
    display: flex;
    justify-content: center;
}


.carusel__producto--descripcion{
    color: #B336A6;
    font-family: 'Rajdhani', sans-serif;
    font-size: 19px
  }
  
  .carrusel__produtco--precio{
    color: #B336A6;
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px
  }

