.card__imagen{
    &:hover{
        filter: opacity(.5);
    }
}

.card-textoPrimario{
    color: $color_pink;
    font-size: 17px;
    text-align: left;
}

.card-textoSecundario{
    color: $color_pink;
    font-size: 15px;
    text-align: left;
}
