.grid-cards{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: (2, 1fr);
    color: $color_pink;
    align-content: center;
    font-size: 30px;


    @media (max-width: $breakpoint-sm)  {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: (1, 1fr);

    }

    @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) {
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: repeat(2,1fr);
    
    }

    @media (min-width: $breakpoint-md) and (max-width:$breakpoint-lg){
        display: grid;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: repeat(3,1fr);
    
    }
}