.producto-texto{
    color: #B336A6;
    font-family: 'Rajdhani', sans-serif;
    font-size: 19px
}
  
.producto-precio{
    color: #B336A6;
    font-family: 'Rajdhani', sans-serif;
    font-size: 22px
}

.producto-posicion{
    display: flex;
    justify-content: center;
}
  
