footer ul {
    display: flex;
  flex-direction: row;
  justify-content:space-around;
  list-style: none;
  background-image: linear-gradient(#FDD2F6, #FFFFFF);
  padding: 10px;
  margin-top: 10px; 
}