header{
    
    div{
        display: flex;
        justify-content: center;
        
        h1.titulo{
            color: #B336A6;
            font-family: 'Rajdhani', sans-serif;
            margin: 30px;
        }
    }
}
