header div {
  display: flex;
  justify-content: center; }
  header div h1.titulo {
    color: #B336A6;
    font-family: 'Rajdhani', sans-serif;
    margin: 30px; }

footer ul {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  list-style: none;
  background-image: linear-gradient(#FDD2F6, #FFFFFF);
  padding: 10px;
  margin-top: 10px; }

.titulo {
  display: flex;
  justify-content: center;
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  margin: 30px; }

.navBar__titulo {
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 23px; }

.texto {
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 27px;
  text-align: justify;}

.formulario {
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  margin: 10px;
}
 
.grid__cards {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2, 1fr;
  color: #B336A6;
  align-content: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px; }
  @media (max-width: 768px) {
    .grid__cards {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1, 1fr; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .grid__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr); } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .grid__cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr); } }

.card__imagen:hover {
  filter: opacity(0.5); }

.card-textoPrimario{
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
}

.card-textoSecundario{
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 17px;
}

.producto-texto{
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 19px
}

.producto-precio{
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 22px
}

.producto-posicion{
  display: flex;
  justify-content: center;
}
