header div {
  display: flex;
  justify-content: center; }
  header div h1.titulo {
    color: #B336A6;
    font-family: 'Rajdhani', sans-serif;
    margin: 30px; }

footer ul {
  display: flex;
  flex-direction: row;
  justify-content:space-around;
  list-style: none;
  background-image: linear-gradient(#FDD2F6, #FFFFFF);
  padding: 10px;
  margin-top: 10px; }

.titulo__formato {
  display: flex;
  justify-content: center;
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  margin: 30px; }


.navBar__titulo--formato {
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 23px; }

.imagen__posicion {
  float: left;
  padding: 20px;
  margin: 20px; }

.texto__formato {
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 27px;
  text-align: justify;}

.titulo__secundario--formato nav ul li a {
  border-color: #B336A6;
  font-family: 'Rajdhani', sans-serif; }

.formulario__formato--texto {
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
  margin: 10px;
}
 
.section__grid--card {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2, 1fr;
  color: #B336A6;
  align-content: center;
  font-family: 'Rajdhani', sans-serif;
  font-size: 30px; }
  @media (max-width: 768px) {
    .section__grid--card {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: 1, 1fr; } }
  @media (min-width: 768px) and (max-width: 992px) {
    .section__grid--card {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr); } }
  @media (min-width: 992px) and (max-width: 1200px) {
    .section__grid--card {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr); } }

.grid__imagen--hover:hover {
  filter: opacity(0.5); }

.servicios__card--texto{
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 20px;
}

.servicios__card--subTexto{
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 17px;
}

.formulario__posicion {
  display: flex;
  justify-content: center;
}

.carusel__producto--descripcion{
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 19px
}

.carrusel__produtco--precio{
  color: #B336A6;
  font-family: 'Rajdhani', sans-serif;
  font-size: 22px
}

.carusel__posicion{
  display: flex;
  justify-content: center;
}

.footer__color{
  background-color: #FDD2F6; }
