.productos{
    display: flex;
    justify-content: center;
}

.producto__texto{
    color: $color_pink;
    font-size: 19px
}
  
.producto__precio{
    color: $color_pink;
    font-size: 22px
}

.carousel-control-prev,
.carousel-control-next{
    bottom: 40px !important;
}