// Colores
$color_gray: #888;
$color_pink: #B336A6;

//Tabletas y telefonos grandes (horizontal)
$breakpoint-xs: 576px;

//Tabletas pequeñas (vertical)
$breakpoint-sm: 768px;

//Tabletas y escritorio pequeños
$breakpoint-md: 992px;

//Tabletas y computadoras de escritorio 
$breakpoint-lg: 1200px;